<div id="kt_aside" class="aside aside-dark aside-hoverable">
    <div class="aside-menu flrx-column-fluid">
        <div id="kt_aside_menu_wrapper" class="hover-scroll-overlay-y my-5 my-lg-5">
            <div id="#kt_aside_menu"
                class="menu menu-column menu-title-gray-800 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500">
                <div class="menu-item">
                    <div class="menu-content pb-2">
                        <span class="menu-section text-muted text-uppercase fs-8 ls-1">
                            Dashboard
                        </span>
                    </div>
                </div>
                <div class="menu-item">
                    <a class="menu-link active" asp-controller="home" asp-action="index">
                        <span class="menu-icon">
                            <span class="svg-icon svg-icon-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    fill="none">
                                    <rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
                                    <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
                                    <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
                                    <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
                                </svg>
                            </span>
                        </span>
                        <span class="menu-title">
                            Default
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>