@{
    ViewData["Title"] = "Редактировать Населенный Пункт";
}

<h1>Редактировать Населенный Пункт</h1>

<section>
    <div class="main_container">

        <form method="post">
            <ul>
                <input class="visually-hidden" name="Id" value="@ViewBag?.Location?.Id" />
                <li>
                    <p>Префикс Населенного Пункта:</p>
                    <input required class="input_field" name="Prefix" value="@ViewBag?.Location?.Prefix" />
                </li>
                <li>
                    <p>Название Населенного Пункта:</p>
                    <input required class="input_field" name="Name" value="@ViewBag?.Location?.Name" />
                </li>
            </ul>

            <button class="btn-primary" id="SaveBtn" type="submit" asp-controller="City" asp-action="Edit">Сохранить</button>
            <button class="btn-outline-warning" id="CanselBtn" type="submit" formnovalidate asp-controller="Home" asp-action="Index">Отменить</button>
        </form>
    </div>
</section>