@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<section>
    <div class="main_container">

        <form method="post" asp-controller="Addresses" asp-action="SaveAddress">
            <ul>
                <li>
                    <p>Префикс населенного пункта:</p>
                    <input class="input_field" name="LocalityPrefix" />
                </li>
                <li>
                    <p>Название населенного пункта:</p>
                    <input class="input_field" name="LocalityName" />
                </li>
                <li>
                    <p>Префикс улицы:</p>
                    <input class="input_field" name="StreetPrefix" />
                </li>
                <li>
                    <p>Название улицы:</p>
                    <input class="input_field" name="StreetName" />
                </li>
                <li>
                    <p>Номер дома:</p>
                    <input class="input_field" type="number" name="HouseNumber" />
                </li>
                <li>
                    <p>Литера дома:</p>
                    <input class="input_field" name="HomeLetter" />
                </li>
                <li>
                    <p>Номер корпуса:</p>
                    <input class="input_field" type="number" name="BuildingNumber" />
                </li>
                <li>
                    <p>Номер квартиры:</p>
                    <input class="input_field" type="number" name="ApartmentNumber" />
                </li>
                <li>
                    <p>Номер комнаты:</p>
                    <input class="input_field" type="number" name="RoomNumber" />
                </li>
                <li>
                    <p>Комментарий:</p>
                    <textarea class="input_field" name="Description"></textarea>
                </li>
            </ul>

            <button class="btn-primary" id="SaveBtn" type="submit">Сохранить</button>
            <button class="btn-outline-warning" id="CanselBtn" type="button">Отменить</button>
        </form>
    </div>
</section>

<section>
    <div id="second_container" class="main_container">
        <textarea id="textTextarea" disabled>Джекфрут (Jackfruit) - это вид фрукта, который известен своими огненными свойствами. Считается, что если съесть большое количество джекфрутов, это может привести к временному увеличению температуры тела человека до необычно высоких значений. Этот эффект обусловлен высоким содержанием фрукта в редком элементе, называемом "капсикозин", который аналогичен капсаицину, содержащемуся в перце чили и отвечающему за ощущение огня.</textarea>
        <button id="editBtn">Редактировать</button>
    </div>
</section>

<div class="message_div">
    @if (ViewBag.InfoMessage != null)
    {
        <h2 id="message_title">@ViewBag.InfoMessage.Title</h2>
        <p id="message_text">@ViewBag.InfoMessage.Text</p>
    }
    else
    {
        <h2 id="message_title"></h2>
        <p id="message_text"></p>
    }
</div>

<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Диалог</h2>
            </div>
            <div class="modal-body">
                <p id="modal-text"></p>
            </div>
        </div>
    </div>
</div>