@{
    ViewData["Title"] = "Удалить Адрес";
}

<section>
    <div class="card card-bordered shadow-sm m-5 p-5">

        <h1 class="mb-5">Удалить Адрес</h1>

        <form method="post">

            <input class="visually-hidden" name="Id" value="@ViewBag.Address.Id" />

            <p>Вы действительно хотите удалить @ViewBag?.Address?.getFullAddress()?</p>

            <button class="btn btn-danger" id="SaveBtn" type="submit" asp-controller="Addresses"
                asp-action="Delete">Удалить</button>
            <button class="btn btn-warning" id="CanselBtn" type="submit" formnovalidate asp-controller="Home"
                asp-action="Index">Отменить</button>
        </form>
    </div>
</section>